.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
#.venv313/
.venv314/
env/

# Git
**/.git
.gitignore

# Tests / tooling
.pytest_cache/
.mypy_cache/
.coverage

# Local data
*.db
*.sqlite
logs/*
tmp/

# OS
.DS_Store

# Secrets
.env
*.env
